<div class="container">
  <div class="row justify-content-center mt-5 mb-3 text-center" style="color: rgb(67, 0, 153);">
    <div class="col-auto">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h5>مرحبا</h5>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2>الاعدادات</h2>
      <br>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-success btn-lg"
              style="margin-left: 5px !important; margin-bottom: 3px; width: 70%;" [routerLink]="['/employee-settings']">اعدادات الموظفين
      </button>
      <button type="button" class="btn btn-success btn-lg"
              style="margin-left: 5px !important; margin-bottom: 3px; width: 70%;" [routerLink]="['/department-settings']">اعدادات الادارات
      </button>
    </div>
  </div>
</div>
